<!DOCTYPE html>
<html>
<head>
  <title>COD</title>
  <style>
    img{

      padding-left: 650px
    }
    body{
      background-color: ghostwhite
    }
    h1{
      text-align: center;
      font-size: 350%

    }
    pre{
      font-size: 280%
    }
    p{
      font-style: bold
    }





    </style>
</head>
<body>
  <h1>YOUR ORDER HAS BEEN PLACED SUCCESFULLY</h1>
  <img src="static\img\deliveryboy.jpeg" alt="try">
  <pre>
THANK YOU FOR GIVING US A WONDERFUL OPPURTUNITY TO SERVE YOU!!!WE HOPE YOU
ENJOYED THE SHOPPING. THE ORDER WILL DISPATCH AS SOON AS POSSIBLE TO REACH
IN FRONT OF YOUR DOOR.WE REQUEST YOU TO WEAR MASK AND A MAINTAIN 2 METRES
DISTANCE FROM OUR DELIVERY TO ENSURE SAFETY FROM BOTH SIDES.THANK YOU AND
PLEASE COME BACK AGAIN!!!!!!
<p>FOR ANY PROBLEM PLEASE CONTACT-9182061939 (or) 9177773854
MAIL US AT enpassantmart@gmail.com</p>
  </pre>