<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EnPassant-fruits</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        body {
            background-color: WhiteSmoke;
        }

        table {
            width: 29.8%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        .cart-info {
            display: flex;
            flex-wrap: wrap;
        }

        th {
            text-align: left;
            padding: 5px;
            color: #fff;
            background: #ff523b;
            font-weight: normal;
        }

        td {
            padding: 10px 5px;
        }

        td input {
            width: 40px;
            height: 30px;
            padding: 5px;
        }

        td a {
            color: #ff523b;
            font-size: 12px;
        }

        .total-price {
            text-align: right;
            display: flex;
            justify-content: flex-end;
        }

        .total_price table {
            border-top: 3px sloid #ff523b;
            width: 100%;
            max-width: 350px;
        }

        td:last-child {
            text-align: right;
        }

        th:last-child {
            text-align: right;
        }
        .myfixed{
            width:455.5px;
            table-layout: fixed;
        }
        .myfixed tbody{
            display:block;
            width:456px;
            overflow:scroll;
            height:450px;

            }
            .myfixed thead th tr{
                display:block;

            }
            .myfixed th td{
                width:400px;
            }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
                <div class="logo">
                    <a style="color:white;" class="navbar-brand" href="/">En<em>Passant</em></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus" style="color:white;margin-top: 8px;">About us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:white;margin-top:7px" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                SECTIONS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/fruitstore">Fruits</a></li>
                                <li><a class="dropdown-item" href="/vegetablestore">Vegetables</a></li>
                                <li><a class="dropdown-item" href="/bakery">Bakery</a></li>
                                <li><a class="dropdown-item" href="/snacks">Snacks</a></li>
                                <li><a class="dropdown-item" href="/dairy">Dairy</a></li>
                                <li><a class="dropdown-item" href="/toiletries">Toiletires</a></li>
                                <li><a class="dropdown-item" href="/chicken">Chicken</a></li>
                                <li><a class="dropdown-item" href="/mutton">Mutton</a></li>
                                <li><a class="dropdown-item" href="/fish">Fish</a></li>
                                <!--<li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                            </ul>
                        </li>



                        <form class="d-flex" style="width:700px">
                            <input class="form-control me-2" style="margin-top:7px;" type="search" placeholder="Search"
                                aria-label="Search" style="width:200%">
                            <button class="btn btn-outline-light" style="margin-top:7px;" type="submit">Search</button>
                        </form>
                        <li class="nav-item">
                            <a class="nav-link disabled" style="color:white;margin-top:7px;margin-left: 200px;" href="#"
                                tabindex="-1" aria-disabled="true">EnPassant,your searches end here :)</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    <img src="static/img/fishbodyim.jpeg" align="left" usemap="#image-map" height=658.4px width=70%>
    <map name="image-map">
      <area target="" alt="head" title="head" href="/head" coords="136,209,110,213,87,235,66,260,41,285,23,303,20,328,29,340,22,353,28,367,49,387,37,374,57,395,71,409,80,421,89,427,98,434,110,444,126,446,138,435,149,422,164,403,173,380,176,364,178,343,178,319,170,280,165,252,158,241,146,223" shape="poly">
      <area target="" alt="collar" title="collar" href="/collar" coords="162,199,167,216,176,235,181,251,195,279,198,299,202,346,194,362,194,391,182,421,165,447,158,466,163,476,181,486,206,494,219,497,228,496,226,482,226,463,230,457,246,452,257,451,251,428,251,411,253,390,253,379,253,347,253,331,251,287,248,255,248,229,252,203,261,164,253,154,231,163,195,174,176,183" shape="poly">
      <area target="" alt="abdomen meat" title="abdomen meat" href="/abdomen meat" coords="264,285,264,313,268,343,270,369,266,389,270,418,273,445,280,459,286,466,299,466,323,456,346,448,367,442,389,435,413,431,441,427,466,428,487,435,516,446,531,454,543,458,555,466,561,454,561,425,561,411,557,387,557,367,556,339,556,319,558,306,557,288,491,283,443,280,400,277,348,280,277,278" shape="poly">
      <area target="" alt="back meat" title="back meat" href="/back meat" coords="285,144,283,153,282,184,276,210,272,232,262,262,278,267,322,267,359,266,403,265,454,266,500,272,566,280,608,282,662,288,743,300,778,305,798,312,822,320,847,320,848,297,834,252,754,227,717,212,683,197,649,188,598,164,585,160,554,161,478,154,416,136,402,126,326,134" shape="poly">
      <area target="" alt="caviar" title="caviar" href="/caviar" coords="414,435,353,459,319,474,302,496,310,509,319,519,334,529,348,539,376,549,393,551,422,551,442,550,457,531,468,523,486,527,496,538,520,545,542,547,561,541,567,519,572,497,556,480,534,462,483,444,450,435" shape="poly">
      <area target="" alt="tail meat" title="tail meat" href="/tail meat" coords="578,295,567,314,566,341,566,380,575,445,574,487,583,516,635,515,664,506,690,470,717,460,758,432,826,392,842,354,845,340,767,318" shape="poly">
      <area target="" alt="tail" title="tail" href="/tail" coords="860,271,865,295,863,324,863,342,856,358,853,381,879,387,921,410,933,426,953,440,967,457,989,465,1005,488,1041,502,1042,489,1018,402,992,351,987,314,991,291,1012,235,1028,184,1034,152,1031,135,1025,132,1010,155,988,182,963,210,926,244,905,262" shape="poly">
      <area target="" alt="full body" title="full body" href="/full body" coords="446,32,436,75,570,78,510,32" shape="poly">
  </map>






  <div class="small-container cart-page">

    {% if allitems|length==0 %}
    <i>
        <pre>       Your cart is empty...click on items to get added</pre>
    </i>
    {% else %}

    <table class="myfixed">
        <thead>
            <tr>
                <!-- <th width="10%">Sno</th> -->
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>

            </tr>
        </thead>
        <tbody>

            {% for item in allitems %}
            <tr>
                <!-- <td width="10%">{{loop.index}}</td> -->
                <td>
                    <div class="cart-info">
                        <div>
                            <p>{{item.Product}}</p>
                            <small>Fresh {{item.Product}}</small>
                            <a href="/removefish/{{item.Product}}" type="button">Remove</a>
                        </div>
                    </div>
                </td>
                <td>
                    <pre>      {{item.Quantity}}</pre>
                </td>
                <td>
                    <pre>                    {{item.Subtotal}} rupees</pre>
                </td>
            </tr>
            {% endfor %}

</form>

</tbody>

<div class="total-price">
<table>


    {% set totals = [] %}
    {% for item in allitems %}

    {% if totals.append(item.Subtotal) %}{% endif %}

    {% endfor %}
    <tr>
        <td style="text-align: right">Subtotal</td>
        <td style="padding-right:50px;">{{ '%0.2f' | format(totals | sum) }}</td>
    </tr>

    <tr>
        <td style="text-align: right;">tax</td>
        <td style="padding-right:50px;">5.00</td>
    </tr>
    <tr>
        <td style="text-align: right;">total</td>
        <td style="padding-right:50px;" name="totalpay">{{ '%0.2f' | format(totals | sum+5) }}</td>
    </tr>
    <tr>
        <td>
            <a href="/payment"><input style="font-size:15px;width:200px;margin-left: 130px;" type=button
                    value='continue to payment'></a>
        </td>

    </tr>

</table>
</div>
</table>
{% endif %}
</div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</body>

</html>
