<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<title>EnPassant</title>
<!-- 

Highway Template

https://templatemo.com/tm-520-highway

 -->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.jpg">
        <link rel="icon" href="static/img/EN PASSANT title.png" style="border-radius: 40%;">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <nav>
        <span>
        <div class="logo">
            <a href="/">En<em>Passant</em></a>
        </div>
        
            <!-- <form class="d-flex" style="width:700px">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width:200%">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form> -->
        <div class="logo">
            <form class="d-flex" style="width:700px" >
                <span >
                    <div style="margin-top: 4%;" class="search">
                        <form action="/search" method="POST">
                            <input style="width:650px;height: 30px;" type="text"
                                placeholder=" Search any item here"
                                name="search1">
                            <button type="submit">
                                <i class="fa fa-search"
                                    style="font-size: 18px;">
                                </i>
                            </button>
                        </form>
                    </div>
                </div>
                
                </span>
                
              </form>
        </div>
        </span>
        <div style="padding-top: 2%;"></div>
            <a  class="scrollTo" data-scrollTo="portfolio"  href="#"  style="color:white;padding-top: 10%;font-size: 18px;padding-left: 30px;">Shop by category</a>
            <a class="nav-link" href="/aboutus" style="color:white;padding-top: 10%;font-size: 18px;margin-left: 110px;">About us</a>
            <a class="nav-link" href="/contactus" style="color:white;padding-top: 10%;font-size: 18px;margin-left: 110px;">Contact us</a>
            <!-- <div class="menu-icon">
                <span></span> -->
              <!-- </div> -->
        </div>    
        
        
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>Welcome to <em>EnPassant</em></h1>
              <p>Your searches end here...</p>
              <!--<p>Homepage with full-width image gallery</p>-->
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio"  href="#"><img src="static/img/scroll-icon.png" alt=""></a>
                </div>    
            </div>
        </div>
        <video autoplay loop muted>
        	<source src="static/img/highway-loop.mp4" type="video/mp4" />
        </video>
    </div>


    <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/fruitstore"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>FRUIT <em>store</em></h1>
                                <p>get those fresh fruits here</p>
                            </div>
                        </div>
                        <div class="image">
                            <a href="/fruitstore"><img src="https://th.bing.com/th/id/OIP.dZfjgxvI4AiPj9N7ZREU5gHaEK?w=312&h=180&c=7&o=5&dpr=1.25&pid=1.7" style="height:393.3px">
                            </div></a>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/vegetablestore" ><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Vegetable <em>store</em></h1>
                                <p>land on to the vegetable market</p>
                            </div>
                        </div>
                        <div class="image">
                            <a href="/vegetablestore"><img src="https://th.bing.com/th/id/OIP.-k4ecAvwQmLyzT85hvnNygHaE8?w=274&h=183&c=7&o=5&dpr=1.25&pid=1.7" style="height:393.3px"></a>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/bakery"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>bakery <em>cakes</em></h1>
                                <p>So Sweet. So Good. Sure to bring smiles</p>
                            </div>
                        </div>
                        <div class="image">
                            <a href="/bakery"><img src="https://f.jwwb.nl/public/g/s/k/temp-vcjeggbggzgoysqqrnpa/WhatsAppImage2020-06-19at165729.jpeg" style="height:393.3px"></a>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/snacks"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>SNacks <em>&Branded Foods</em></h1>
                                <p>The kid's paradise</p>
                            </div>
                        </div>
                        <div class="image">
                            <a href="/snacks"><img src="https://th.bing.com/th/id/OIP.kcuoj49zeBVq2i1rlIj_sAHaFb?w=259&h=189&c=7&o=5&dpr=1.25&pid=1.7" style="height:393.3px"></a>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/dairy"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Dairy <em>products</em></h1>
                                <p>Giving you the right nutrients</p>
                            </div>
                        </div>
                        <div class="image">
                            <a href="/dairy"><img src="https://th.bing.com/th/id/OIP.wckGsZ3jqY0lgiMYXLLoYAHaEq?pid=ImgDet&rs=1" style="height:393.3px"></a>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="portfolio-item">
                	<a href="/toiletries"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>toiletires <em>& others</em></h1>
                                <p>Love every bath</p>
                            </div>
                        </div>
                        <div class="image">
                            <a href="/toiletries"><img src="static/img/toiletries222.jpeg" style="height:393.3px"></a>
                        </div>
                    </div></a>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/chicken"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Chicken <em>eggs</em></h1>
                                <p>The meat that everybody loves</p>
                            </div>
                        </div>
                        <div class="image">
                            <a href="/chicken"><img src="static/img/chickenim.jpg" style="height:393.3px"></a>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/fish"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Fish<em></em></h1>
                                <p>The meat that everybody loves</p>
                            </div>
                        </div>
                        <div class="image">
                            <a href="/fish"><img src="https://th.bing.com/th/id/OIP.gcrvT7T2s2AMFNpHPnuWvgHaE8?w=255&h=180&c=7&o=5&dpr=1.25&pid=1.7"style="height:393.3px"></a>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/mutton"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Mutton <em></em></h1>
                                <p>The meat that everybody loves</p>
                            </div>
                        </div>
                        <div class="image">
                            <a href="/mutton"><img src="https://media.swncdn.com/via/10900-istockgetty-images-pluscutworld.jpg" style="height:393.3px"></a>
                        </div>
                    </div></a>
                </div>
            </div>
            
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 EnPassant 
    
    | Designed by team ENPASSANT</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <!-- <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
    </div>   -->

    <!-- Modal -->
    <!-- <div id="modal" class="modal">
       Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <!-- <div class="modal-header">
          <h3 class="header-title">Say hello to <em>Highway</em></h3>
          <div class="close-btn"><img src="img/close_contact.png" alt=""></div>    
        </div> -->
        <!-- Modal Body -->
        <!-- <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>  -->

    

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="index.html">Home - Full-width</a>
                  </li>
                  <li>
                      <a href="masonry.html">Home - Masonry</a>
                  </li>
                  <li>
                      <a href="grid.html">Home - Small-width</a>
                  </li>
                  <li>
                      <a href="about.html">About Us</a>
                  </li>
                  <li>
                      <a href="blog.html">Blog Entries</a>
                  </li>
                  <li>
                      <a href="single-post.html">Single Post</a>
                  </li>
              </ul>
              <p>We create awesome templates for you.</p>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>
    
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

    
</body>
</html>